*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
	background-color: #EFEFEF;
  }
  
  header {
	background-color: #CC0000;
	padding: 20px;
	text-align: center;
	color: #FFFFFF;
  }
  
  h1 {
	font-size: 36px;
	margin: 0;
  }
  
  .card {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	margin: 20px 0;
	padding: 20px;
	height: 500px;

  }
  
  .card h4 {
	color: #CC0000;
	font-size: 24px;
	margin: 0 0 10px;
	margin-top: 10px;
	text-align: center;
  }
  
  .card p {
	color: #666666;
	font-size: 18px;
	line-height: 1.5;
  }
  
  table {
	margin: 20px 0;
	width: 100%;
  }
  
  table h4 {
	color: #CC0000;
	font-size: 24px;
	margin: 0;
  }
  
  table td {
	padding: 20px;
	vertical-align: top;
  }
  
  table img {
	display: block;
	margin: 0 auto 20px;
	max-width: 100%;
  }
  
  footer {
	background-color: #CC0000;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
  }
  
  footer p {
	margin: 0;
  }

  .create{
    font-family: cursive;
    font-weight: 500;
}

#linktree{
    margin: 0 3px;
    font-size: 1.2rem;
}
#linktree:hover{
    color: yellow;
}